name: PR Title Check

on:
  pull_request_target:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: write
  statuses: write

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Title
        id: check
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          wip: true
          requireScope: false
          validateSingleCommit: true
