name: Python Linting and Validation

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.py'
      - 'poetry.lock'
      - 'pyproject.toml'
      - 'src/**'
  pull_request_target:
    branches: [ "main" ]
    paths:
      - '**.py'
      - 'poetry.lock'
      - 'pyproject.toml'
      - 'src/**'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: "poetry"

    - name: Run image
      uses: abatilo/actions-poetry@v3

    - name: Install dependencies
      run: |
        poetry install --no-interaction --no-root

    - uses: TrueBrain/actions-flake8@v2
      with:
        max_line_length: 127
        only_warn: true
        path: src
        extra_arguments: "--max-complexity=10"
